body {
  background-color: #f6f4d2;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.sec-flex {
  display: flex;
  margin-bottom: 150px;
}

.headname {
  color: #e0855d;
}

.half-width {
  width: 100%;
  text-align: justify;
  padding-left: 5%;
  margin-left: 5%;
}

.half-width img {
  width: 90%;
}

.half-width2 {
  width: 100%;
  text-align: justify;
  margin-right: 2%;
}

.half-width3 {
  width: 50%;
  text-align: justify;
  box-shadow: 18px 10px 55px gray;
  margin-right: 5%;
  margin-left: 5%;
  padding: 10px 50px;
  border-radius: 12px;
}

.link-button {
  text-decoration: none;
  color: whitesmoke;
  background-image: linear-gradient(#f0452b, #a44a3f);
  padding: 15px 40px;
  margin-left: 220px;
  font-weight: 800;
  border-radius: 7px;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  background-size: 60%;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 75%;
  background-size: 75px;
}

.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: 0 75%;
}

#bg {
  width: 620px;
  height: 600px;
}

#master {
  border-left: 12px solid;
  border-image: linear-gradient(#ff4444, #a12828);
  border-image-slice: 1;
  border-radius: 12px;
}

#novice {
  border-left: 12px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
}
